---
import Layout from "./Layout.astro";
import { Blog } from "../types";
import CategoryItem from "../components/category/CategoryItem.astro";
import { markdown } from "@astropub/md";

const { blog } = Astro.props as { blog: Blog };
const { title, publishedAt, content, isPrivate, categories } = blog;

const asDate = new Date(publishedAt);
const date = `
  ${asDate.getFullYear()}년 
  ${asDate.getMonth() + 1}월 
  ${asDate.getDate()}일 
  ${asDate.getHours()}:${asDate.getMinutes()}`;

const text = content?.flatMap(({ children }) =>
  children.map(({ text }) => text)
)!;

let res = ``;
for (let x of text) {
  res += x;
  res += "\n";
}

const md = await markdown(res);
---

<Layout>
  <article class="px-20 max-sm:px-6">
    <div class="flex flex-row justify-between items-center max-sm:flex-col max-sm:gap-3 mb-[50px]">
      <h1 class="text-3xl mt-1">{title}</h1>
      <date class="text-slate-500">{date}</date>
    </div>

    {isPrivate && <p>This is Private Post!</p>}

    <ul class="mb-3 flex flex-row gap-0.5 items-center max-sm:flex-col max-sm:items-baseline">
      {categories?.map((category) =>
        <CategoryItem category={category} isTextOnly />)}
    </ul>

    <section class="min-h-[70vh] mt-10 mx-1">
      {md}
    </section>

    <hr class="border-t-[1px] border-solid border-slate-300 my-10" />

    <slot />
  </article>
</Layout>
