---
import Layout from "./Layout.astro";
import type { Blog } from "../types";
import CategoryItem from "@/components/category/CategoryItem.astro";
import { markdown } from "@astropub/md";
import CheckSecretModal from "@/components/secret/CheckSecretModal";
import getReadingTime from "reading-time";

type Props = Blog;
const blog = Astro.props;

const {
  title,
  publishedAt,
  content,
  categories,
  isPrivate,
  password: matchingPassword,
} = blog;

const asDate = new Date(publishedAt);
const date = `
  ${asDate.getFullYear()}년 
  ${asDate.getMonth() + 1}월 
  ${asDate.getDate()}일 
  ${asDate.getHours()}:${asDate.getMinutes()}`;

const text = content?.flatMap(({ children }) =>
  children?.map(({ text }) => text)
)!;

let res = ``;
for (let x of text) {
  res += x;
  res += "\n";
}

const md = await markdown(res, {});

const readingTimeResult = getReadingTime(text.join(""));
const minutes = Math.round(readingTimeResult.minutes);
---

<Layout>
  {
    isPrivate && (
      <CheckSecretModal title={title} matchingPassword={matchingPassword} />
    )
  }

  <article class="px-20 max-sm:px-6">
    <h1 class="mb-[50px] mt-1 text-4xl">{title}</h1>

    <div class="flex flex-col justify-center gap-3 mb-[20px]">
      <div class="flex items-center">
        <p class="text-slate-500">출판일자&nbsp;</p>
        <time class="text-slate-700 text-lg">{date}</time>
      </div>
      <p class="text-slate-500">
        읽는 데 걸리는 시간 <span class="text-slate-700 text-lg"
          >{minutes}분</span
        >
      </p>
    </div>

    <ul
      class="mb-3 flex flex-row gap-0.5 items-center max-sm:flex-col max-sm:items-baseline"
    >
      {
        categories?.map((category) => (
          <CategoryItem category={category} isTextOnly />
        ))
      }
    </ul>

    <article
      id="md-root"
      class="min-h-[70vh] mt-10 mx-1 leading-[3rem] text-lg break-words"
      set:html={md}
    />

    <hr class="border-t-[1px] border-solid border-slate-300 my-10" />

    <slot />
  </article>
</Layout>

<script>
  const checkSecretModalRootElement = document.getElementById(
    "check-secret-modal"
  ) as HTMLDivElement;

  const unlockButtonElement = document.getElementById(
    "secret-unlock-button"
  ) as HTMLButtonElement;
  unlockButtonElement.onclick = function (event) {
    event.preventDefault();
    console.log("click unlock!");

    if (checkSecretModalRootElement.classList.contains("visible")) {
      checkSecretModalRootElement.classList.replace("visible", "hidden");
    }
  };
</script>
